@use "_mixins" as *;
@use "_font" as *;
@use "_colors" as *;

main {
    height: 500px;
    @include flex;
    justify-content: space-around;
    @media (max-width: 1000px) {
        height: 700px;
        flex-direction: column;
        padding-top: 200px;
      }
      @media (max-width: 700px) {
        height: 800px;
      }
      @media (max-width: 400px) {
        height: 1000px;
      }
    #mainInfo {
        padding: 0.5rem;
        width: 250px;
        height: 200px;
        background: rgba( 0, 0, 0, 0.25 );
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 7px );
        -webkit-backdrop-filter: blur( 7px );
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.18);
        .mainUp {
            width: 100%;
            height: calc(85% - 1rem);
            @include flex;
            .imgBox {
                height: 100%;
                width: 50%;
                @include flexColumn;
                @include setFont;
                color: $white;
                img {
                    width: 64px;
                    height: 64px;
                }
            }
            .infoBox {
                width: 50%;
                height: 100%;
                @include flex;
                flex-direction: column;
                @include setFont;
                div {
                    @include flex;
                    margin: 5px 0;
                }
                div:not(:last-child) {
                    margin: 0px 0
                }
                span {
                    color: $white;
                }
                #temp {
                    font-size: 3rem;
                    font-weight: 900;
                }
                #day {
                    font-size: 0.8rem;
                }
            }
        }
        .mainDown {
            height: calc(15% + 1rem);
            @include flex;
            @include setFont;
            color: $white;
            font-size: 1.25rem;
        }
    }


    #hourInfo {
        height: 200px;
        width: 600px;
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 7px );
        -webkit-backdrop-filter: blur( 7px );
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.18);
        @media (max-width: 700px) {
            height: 350px;
            width: 435px;
          }
          @media (max-width: 400px) {
            height: 450px;
            width: 335px;
          }
        .today {
            height: 2rem;
            @include flex;
            @include setFont;
            font-weight: 600;
            color: $white;
            font-size: 1.25rem;
        }
        #hoursTemp {
            height: calc(100% - 2rem);
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr 1fr;
            margin: 0 1rem;
            gap: 10px;
            @media (max-width: 700px) {
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: 1fr 1fr 1fr;
              }
            @media (max-width: 400px) {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 1fr 1fr 1fr 1fr;
              }
            .hour{
                @include flex;
                flex-direction: column;
                .hourTime {
                    @include setFont;
                    font-size: 0.8rem;
                    color: darken($color: $white, $amount: 10);
                }
                .imgHour{
                    width: 34px;
                }
                .tempHour {
                    @include setFont;
                    color: $white;
                }
            }
        }
    }
    .spanPink {
        font-size: 0.8rem;
        color: darken($color: $white, $amount: 10);
    }
}