@use "_reset";
@use "_footer";
@use "_header";
@use "_main";
@use "_section";

body {
    background-image: url(../images/pexels-joyston-judah-933054.jpg);
    background-size: cover;
    background-position: bottom;
}